body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #202020;
    color: white;
}

button {
    background-color: transparent;
    border: none;
}

span {
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 35px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h1,
h2 {
    font-family: 'Bitter', serif;
}

.container {
    width: 95%;
    margin: auto;
}

.headArea {
    border: 3px solid black;
    border-radius: 10px;
    width: 99%;
    height: 100px;
    float: left;
    background-color: lavenderblush;
    margin-bottom: 7px;
}

header {
    text-align: center;
    padding: 30px;
}

.logo {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
    width: 40px;
    height: 15px;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.content1 {
    width: 30%;
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    float: left;
    margin: 10px;
    margin-left: 5px;
    margin-right: 20px;
}
.content2 {
    width: 30%;
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    float: left;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.content3 {
    width: 30%;
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    float: right;
    margin: 10px;
    margin-left: 5px;
    margin-right: 20px;
}

img {
    max-width: 35%;
    height: auto;
    float: left;
    margin-right: 8px;
    margin-top: 15px;
    padding: 10px;
}

p {
    padding: 10px;
    color: white;
    font-size: 140%;
}

.clear {
    clear: both;
}

.bawah {
    background-color: lightgoldenrodyellow;
    width: 99%;
    height: 30px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 1%;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    body {
        background: lavenderblush;
        max-width: 100%;
    }

    .content {
        width: 99%;
        background-color: rosybrown;
        border-radius: 10px;
        margin: 0px;
        margin-bottom: 10px;
    }

    img {
        max-width: 50%;
        height: auto;
        float: left;
        margin-right: 8px;
        margin-top: 20px;
        padding: 10px;
    }

    footer {
        padding: 5px;
        text-align: center;
    }

    p {
        font-size: 105%;
    }
}

