/* DESKTOP VIEW */
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: aliceblue;
    margin: 0;
    display: block;
    align-items: center;
    justify-content: center;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: black;
}

body::-webkit-scrollbar {
    width: 17px;
}

body::-webkit-scrollbar-track {
    background-color: lightgray;
}

body::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
    border: 4px solid lightgray;
}

.dark-mode {
    background-color: #202020;
}

button {
    background-color: transparent;
    border: none;
    float: right;
    margin: 3% 3% 0% 0%;
}

a {
    text-decoration: none;
}

a:hover {
    color: gold;
    font-weight: bolder;
    text-decoration: underline;
}

span {
    padding: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 35px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h1,
h2 {
    font-family: 'Bitter', serif;
}

h1 {
    position: relative;
    text-align: left;
    margin: 10% 0% 10% 20%;
    bottom: 90px;
    font-size: 70pt;
}

.container {
    width: 100%;
    margin: 0;
}

.headArea {
    width: 100%;
    height: 200px;
    float: left;
    background-color: lightblue;
}

header {
    text-align: center;
    padding: 30px;
}

.logo {
    padding: 20px;
    width: 200px;
    height: 200px;
    float: left;
    margin: 0% 5% 10% 1%;
    position: relative;
}

.logo:hover {
    border-radius: 0px;
    box-shadow: none;
}

.intro {
    width: 50%;
    background-color: deepskyblue;
    border-radius: 10px;
    float: left;
    margin: 10% 0% 2% 25%;
    padding: 0px 15px 0px 15px;
}

.icon {
    max-width: 50px;
    max-height: 60px;
    padding-left: 2%;
    margin-top: 0%;
    position: relative;
    top: 20px;
}

.contact {
    text-align: left;
    padding: 2%;
    margin-bottom: 0.1%;
}

.people {
    width: 30%;
    background-color: cornflowerblue;
    border: 5px solid royalblue;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}

.contentLogo1,
.contentLogo2,
.contentLogo3,
.contentLogo4,
.contentLogo5,
.contentLogo6,
.contentLogo7,
.contentLogo8,
.contentLogo9,
.contentPoster1,
.contentPoster2,
.contentPoster3 {
    width: 50%;
    background-color: cornflowerblue;
    border: 5px solid royalblue;
    border-radius: 10px;
    float: left;
    margin: 2% 0% 1% 25%;
}

img {
    width: 35%;
    height: auto;
    margin-right: 8px;
    margin-top: 15px;
}

.author {
    border-radius: 100px;
    border: solid 2.5px;
}

.author:hover {
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 10px 10px gold;
}

p {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.clear {
    clear: both;
}

.bawah {
    background-color: lightblue;
    width: 100%;
    height: 50px;
    padding: 45px;
    padding-top: 25px;
    margin-top: 2.5%;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: gold;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 99;
}

/* MOBILE VIEW */
@media screen and (max-width: 768px) {
    h1 {
        position: relative;
        text-align: left;
        margin: 10% 0% 0% 20%;
        bottom: 100px;
        left: 30px;
        font-size: 27pt;
    }

    h2 {
        font-family: 'Bitter', serif;
        margin-top: 50px;
    }

    .logo {
        padding: 20px;
        width: 120px;
        height: 120px;
        float: left;
        margin: 0% 5% 10% 1%;
        position: relative;
        top: 5px;
    }

    .headArea {
        width: 100%;
        height: 130px;
        background-color: lightblue;
    }

    header {
        text-align: center;
        padding: 30px;
    }

    .intro {
        width: 75%;
        background-color: deepskyblue;
        border-radius: 10px;
        margin: 10% 13% 5% 13%;
        padding: 0px 15px 0px 15px;
    }

    .icon {
        max-width: 45px;
        max-height: 65px;
        padding-left: 2%;
        bottom: 5%;
        top: 5%;
    }

    .contact {
        text-align: left;
        margin-bottom: 0.1%;
        top: 1%;
        bottom: 1%;
        left: 5%;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .people {
        width: 75%;
        background-color: cornflowerblue;
        border: 5px solid royalblue;
        display: flexbox;
        align-items: center;
        border-radius: 10px;
        margin: 10px;
        padding: 0px 10px 25px 10px;
    }

    .contentLogo1,
    .contentLogo2,
    .contentLogo3,
    .contentLogo4,
    .contentLogo5,
    .contentLogo6,
    .contentLogo7,
    .contentLogo8,
    .contentLogo9,
    .contentPoster1,
    .contentPoster2,
    .contentPoster3 {
        width: 75%;
        background-color: cornflowerblue;
        border: 5px solid royalblue;
        border-radius: 10px;
        margin: 5% 13% 0% 13%;
    }

    .author {
        border: none;
        position: relative;
    }

    .author:hover {
        border: none;
        box-shadow: none;
    }

    img {
        max-width: 50%;
        height: auto;
        float: left;
        margin-right: 8px;
        margin-top: 20px;
        padding: 10px;
    }

    .bawah {
        background-color: lightblue;
        width: 100%;
        height: 50px;
        padding: 45px;
        padding-top: 25px;
        margin-top: 5%;
    }

    p {
        font-size: 105%;
    }
}
